body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(106,0,0,1) 68%, rgba(255,0,0,1) 100%);
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
input, select, button {
    margin: 10px;
    padding: 10px;
    width: 80%;
}